$font-color: #5f7848;
$light-font: #B0C49C;

.navbar {


    .ant-menu-overflow,
    .ant-layout {
        background: none !important;
        height: 70px !important;
    }

    .ant-menu-overflow {
        max-width: 100% !important;
        display: flex;
        justify-content: space-between;
        padding-top: 20px;

        .left-side,
        .right-side {
            width: auto;
            display: flex;
            justify-content: center;
        }

        .ant-menu-submenu-title {
            display: none;
        }

        .input {
            width: 180px;
            padding: 0 !important;
            margin-right: 10px;
            position: relative;




            svg {
                color: $font-color !important;
                height: 18px;
                width: 18px;
                position: absolute;
                bottom: 20px;
                right: 5px;
            }

            input {
                width: 100% !important;
                height: 30px;
                border: 0;

                &:active {
                    display: inline-block !important;

                }


                &::placeholder {
                    color: $light-font;
                }

                &:focus {
                    outline: none !important;
                }
            }
        }

        .cart {
            position: relative;
            color: $font-color !important;

            .badge {
                height: 15px;
                width: 15px;
                border-radius: 100%;
                background-color: $light-font;
                color: $font-color;

                position: absolute;
                right: 4px;
                bottom: 15px;

                p {
                    line-height: 16px;
                    font-size: 12px;
                    text-align: center;
                    font-weight: 500;

                }


            }

            svg {
                position: absolute;

                height: 20px;
                width: 20px;

                bottom: 17.5px;
                color: $font-color !important;
                right: 15px;

                display: inline-block !important;

                &:active {
                    display: inline-block !important;

                }

            }
        }

        .ant-menu-overflow-item { 
            background: none !important;
            color: $font-color;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;

            &::after {
                content: none !important;
            }
        }
    }
}